[General]

# Require all Gateiros modpack clients to participate in the shared map and pin service.
EnableMapShare = true
EnableMarkerShare = true

[Hotkeys]

KeyConvertAll =
KeyConvertIgnoreDupes =

[PinShare]

DuplicatePinRadius = 15
